<a href="https://colab.research.google.com/github/riyanshi23/Machine_learning/blob/main/list_comprehension_lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#to print the square of number in the list given if it is greater than 50
l1=[1,2,3,4]
[i**2 for i in (0,50)if i**2>50]

[2500]

In [2]:
#for a given list if value is >5 then print hi else print bye
l1=[1,2,3,4]
['hi' if(i>5) else 'bye' for i in l1]

['bye', 'bye', 'bye', 'bye']

In [3]:
#if x**2 is<=10 execute 27*x for values in range 1 to 20
[27*x for x in range(1,20) if x**2<=50]

[27, 54, 81, 108, 135, 162, 189]

In [4]:
#print all the even number 1 to 20
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
#find all the numbers that can be divided by 2 and 5 in some range 
[i for i in range(1,101) if(i%2==0) and (i%5==0)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#find all the numbers from 1 to 1000 that have 3 in them
[i for i in range(1,1001) if'3' in str(i)]

In [14]:
#count the number of spaces in string
s="i love CT"
l1=[i for i in s if i==" "]
print(len(l1))

2

In [15]:
#count the number of consonants
s="jkhdfshfghjkhdthkabcgyuiknnkljbbjkjkkpoyfvvpow"
l1=[i for i in s if i not in 'a,i,e,o,u' '']
print(len(l1))

41